body {
    font-family: Arial, Helvetica, sans-serif;
}

.barra {
    background-color: rgb(240, 201, 234);
    font-size: 18px;
}

.quem-somos {
    background-color: rgb(140, 200, 240);
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: rgb(2, 2, 51);
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(138, 138, 138);
    text-decoration: none;
}